:root {
  --background: 40, 40, 40;
  --text-color: #ffffff;
}

@font-face {
  font-family: Mohave;
  src: url("/assets/mohave-light.woff2"), url("/assets/mohave-light.woff");
}

@font-face {
  font-family: Mohave;
  font-weight: 700;
  src: url("/assets/mohave-bold.woff2"), url("/assets/mohave-bold.woff");
}

@font-face {
  font-family: Space-Grotesk;
  src: url("/assets/spacegrotesk-medium.otf");
}

body {
  font-family: Space-Grotesk;
  background-color: rgb(var(--background));
  color: var(--text-color);
  line-height: 1.25;

  margin: 160px auto 80px auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 48px 24px 48px;
  align-items: center;
  background-color: rgba(var(--background), 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(16px);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  max-width: 400px;
  background-image: url("/assets/temp.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 64px;
}

text {
  fill: var(--text-color);
  text-anchor: end;
}

text.city {
  font-size: 32px;
  font-weight: 700;
}

circle {
  fill: rgb(var(--background));
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0s;
}

text.temp {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  transition: opacity 1s;
}

path {
  stroke: rgb(var(--background));
  fill: none;
  stroke-width: 4px;
  transition: opacity 1s;
}

g.data-point:hover text.temp {
  opacity: 1;
}

g.data-point:hover circle {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 0.3s;
}

g.data-point:hover path {
  opacity: 0;
  transition: opacity 0.5s;
}

select {
  font-family: sans-serif;
  height: 25px;
}
